.dir-locals.el
.log/
action/
baduk/
emacs/
firefox-nightly/
fixups/
global-cursor-theme/
hetzner/
home/
inputs/
jetbrains/
nixops/
nodejs/
npm/
old-emacs
old-npm/
registry/
rust/
streamer/
themix-gui/
update/